# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Distribution
*.egg
*.whl

# Logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.sw?

public/config.json
node_modules/
package-lock.json
**/package-lock.json
node_modules/
.coverage
.coverage
